:root
{
    --background-color:#7fffd44f;
    --header--footer-color:#26AED94f;
    --text-color: #ffffff;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color:var(--background-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("background.jpg");
    background-size: cover;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header--footer-color);
    padding:10px 20px;
}
.nav-links{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.nav-links li{
    margin-right: 20px;
}
.nav-links li a{
    color: var(--text-color);
    text-decoration: none;
    font-size: 18px;
}
.nav-links li a:hover{
    transition: all 0.3s ease;
    color: #DEB1A4;
}

.footer {
    background-color: var(--header--footer-color);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}